*{outline:none;}
a:focus, a:hover, a:active, a:visited{outline:none !important;}
a:focus{text-decoration:none;outline:none;}
a:hover{text-decoration:none}
md-content{ background-color: transparent;}
body{font-family:'Open Sans', sans-serif;position:relative;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;background-repeat:no-repeat;background-position:center;background-attachment:fixed;}
body:before{content:'';position:absolute;}
body.products-page{background-image:url(../images/background/club-bg.jpg);}
.bgFilter:before{position:absolute;content:'';width:100%;height:100%;opacity:0.6;}
.bgFilter1:before{background:url('../images/bg-filter/filter1.png');}
.bgFilter2:before{background:url('../images/bg-filter/filter2.png');}
.bgFilter3:before{background:url('../images/bg-filter/filter3.png');}
.bgFilter4:before{background:url('../images/bg-filter/filter4.png');}
body > div.content{width:100%;background-color:transparent;position:relative;}
.wrapper{background:white;position:relative;overflow:hidden;}
.layout-content{float:left;width:100%;padding-bottom:30px;position:relative;}
.page-title{font-size:28px;color:#908f8f;line-height:1.2;text-align:center;margin-top:0;margin-bottom:0;position:relative;display:inline-block;text-transform:uppercase;}
.md-button.md-warn.md-raised.redButton{margin:10px 0 0 0;background-color:#e3605b;padding:4px;font-weight:bold;width:100%;}
.md-button.md-warn.md-raised.redButton:hover{background-color:#b5605b;}
.c-bg-center{background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;background-position:center;}
.rowed:after, .rowed:before{content:'';position:absolute;width:250px;top:50%;transition:all 0.3s ease;height:1px;}
.rowed:after{right:-270px;background:linear-gradient(to right, rgba(181, 181, 181, 1) 0%, rgba(181, 181, 181, 1) 6%, rgba(181, 181, 181, 0.7) 45%, rgba(181, 181, 181, 0) 100%);}
.rowed:before{left:-280px;background:linear-gradient(to right, rgba(181, 181, 181, 0) 0%, rgba(181, 181, 181, 1) 90%, rgba(181, 181, 181, 1) 92%, rgba(181, 181, 181, 1) 93%, rgba(181, 181, 181, 1) 97%, rgba(181, 181, 181, 1) 100%, rgba(181, 181, 181, 1) 101%);}
.scroll-to-top{position:fixed;bottom:10px;right:40px;width:44px !important;height:44px !important;min-height:40px;min-width:40px;z-index:9;cursor:pointer;display:none;padding:0;margin:0;background-color:rgba(104, 206, 248, 0.57) !important;}
.scroll-to-top:hover{background-color:rgba(104, 206, 248, .9) !important;}
.scroll-to-top md-icon{height:20px;min-height:10px;margin-top:4px;}
.whiteBlockTitle{margin:0px;text-align:center;color:white;font-weight:bold;padding-top:50px;padding-bottom:60px;position:relative;display:inline-block;font-size:27px;text-transform:uppercase;letter-spacing:1px;background:url(../images/deliteli.png) no-repeat center 106px;text-shadow:1px 1px 1px rgb(164, 164, 164),0 0 1px rgb(255, 255, 255)}
.c-title-divider{background:url('../images/deliteli.png') no-repeat center;height:60px;width:100%;display:block;margin-top:40px;margin-bottom:40px;}
.newsListTitle{margin-top:15px;margin-bottom:50px;}
.galleryTitle{display:block;margin-bottom:25px;}
.galleryTitle *{display:inline-block;line-height:1.3;font-weight:500;color:#777;font-size:30px;margin:0;position:relative;max-width:50%;}
@media (min-width:992px) and (max-width:1199px){.galleryTitle *{max-width:40%;font-size:26px;}
}
@media (min-width:768px) and (max-width:991px){.galleryTitle *{max-width:80%}
}
@media (max-width:767px){.galleryTitle *{max-width:100%;}
}
@media(max-width:991px){.galleryTitle *{font-size:27px;}
.galleryTitle{margin-bottom:20px;}
}
.mailer{text-align:center;margin-bottom:10px}
.mailer md-input-container .md-input{border-color:rgb(107, 107, 107) !important;}
.mailer md-input-container{margin-bottom:5px;margin-top:25px;text-align:left;}
.mailer md-input-container .md-errors-spacer{min-height:1px;}
.mailer > span{font-size:24px;color:rgb(107, 107, 107);font-weight:bold}
@media(min-width:992px) and (max-width:1199px){.mailer > span{font-size:20px}
.mailer .md-button.md-warn.md-raised.redButton{height:40px;line-height:10px;}
}
@media(max-width:767px){.wrapper{margin-top:-1px;}
}
@media(max-width:991px){.rowed:after, .rowed:before{display:none;}
.c-title-divider{margin-top:20px;margin-bottom:20px;}
}
footer{background:#e8e8e8;color:rgb(91, 91, 91);padding:50px 15px 20px;margin-top:30px;line-height:1.429;}
footer .md-button.md-raised{color:rgb(91, 91, 91);}
footer > div{padding:0 15px;border-right:1px solid #d1d1d1;float:left;display:block;}
footer > div:last-child{border-right:0px;text-align:center;}
footer > .column1 img{width:74px;opacity:0.6;float:left;margin:0 15px 15px 5px;}
footer > .column1 span{display:inherit;text-align:justify;}
footer > .column2 a.fontRed:hover{color:#ff0c00;}
footer > .column2 > span{margin-top:10px;margin-bottom:10px;}
footer > .column2 > div:last-child{margin-top:10px;}
footer > .column2 .shareBox{margin-top:10px;margin-bottom:10px;}
footer > .column2 button{width:100%;padding:10px 0;line-height:24px;font-size:15px;margin:0;margin-bottom:10px;}
footer .column3 > button{width:100%;padding:5px 0;margin-top:10px;margin-bottom:10px;}
footer .column3 .fontRed{margin-top:10px;}
footer .fontLow{font-size:13px;text-align:justify;margin:10px 0 0}
footer .fontRed{color:#E3605B;font-weight:700;}
footer .socialWrapper{margin-top:10px;}
footer .socialWrapper >span{font-size:18px;margin-bottom:10px;}
footer .socialWrapper >span{margin-top:20px;}
footer .socialBtn{margin-top:10px;}
footer .socialBtn > div{text-align:center;}
footer .socialBtn > div .md-button.md-fab.md-mini{line-height:44px;height:45px;width:45px;background-color:#b5b5b5;margin:0;margin-bottom:15px;}
footer .socialBtn > div .md-button.md-fab.md-mini.vkontakte md-icon{margin-top:1px;margin-right:1px;}
footer .socialBtn > div .md-button.md-fab.md-mini.google:hover{background-color:#dd4b39;}
footer .socialBtn > div .md-button.md-fab.md-mini.twitter:hover{background-color:#76a9ea;}
footer .socialBtn > div .md-button.md-fab.md-mini.ok:hover{background-color:#ee8208;}
footer .socialBtn > div .md-button.md-fab.md-mini.facebook:hover{background-color:#3b5998;}
footer .socialBtn > div .md-button.md-fab.md-mini.vkontakte:hover{background-color:#507299;}
footer .socialBtn > div .md-button.md-fab.md-mini.instagram:hover{background-color:#5b9dc0;}
footer .footer-menu{float:left;padding:0;width:100%;margin-bottom:0;}
footer .footer-menu li{float:left;width:50%;display:block;line-height:1.9;}
footer .footer-menu li a{color:black;color:rgb(91, 91, 91);}
footer .footer-menu li a:before{content:'·';margin-right:10px;}
footer .footer-menu li a:hover{color:#E3605B;}
@media(min-width:1200px){footer > div{width:25%;}
}
@media(min-width:992px) and (max-width:1199px){footer{font-size:13px;}
footer > .column2 button{font-size:13px;padding:8px 0;line-height:20px;}
footer .column3 > button{padding:1px 0;font-size:12px;}
footer .footer-menu li{font-size:12px;}
footer .fontLow{font-size:12px;}
footer .socialBtn > div .md-button.md-fab.md-mini{height:40px;width:40px;line-height:39px;}
footer .socialWrapper >span{font-size:16px;}
footer > div{width:25%;}
}
@media(min-width:675px) and (max-width:991px){footer > div{border-right:1px solid #d1d1d1;border-bottom:1px solid #d1d1d1;padding-bottom:15px;}
footer .column3,footer .column4{padding-top:15px;border-bottom:0px;padding-bottom:0px;}
footer > div:nth-child(2){border-right:0px;}
footer > .column2 button{line-height:21px;}
footer .socialBtn > div .md-button.md-fab.md-mini{margin-bottom:10px;}
footer > div{width:50%;}
}
@media(max-width:674px){footer > div{border:0px;border-bottom:1px solid #d1d1d1;padding-bottom:15px;padding-top:15px;}
footer .column1{padding-top:0;}
footer .column4{border-bottom:0;padding-bottom:0;}
footer .socialBtn > div .md-button.md-fab.md-mini{height:40px;width:40px;line-height:39px;}
footer > div{width:100%;}
}
header{height:170px;background-color:white;}
header .menuWrapper{height:90px;}
.page-on-scroll header .menuWrapper{height:40px;}
header .headerWrapper{margin-left:-15px;background-color:white;z-index:1;}
header .brand{background-repeat:no-repeat;height:120px;background-position:center;background-image:url(../images/logo/logo-big.png);float:left;width:100%;}
header .headerMenu{padding:0;margin:0;padding-left:40px;padding-right:10px;}
header .headerMenu li{list-style-type:none;float:left;text-align:center;pointer:cursor;height:40px;}
header .headerMenu li.green{box-shadow:inset 0px -2px 0px 0px #f1c40f;}
header .headerMenu li.green:hover{background:#f1c40f;}
header .headerMenu li.red{box-shadow:inset 0px -2px 0px 0px #f56a3f;}
header .headerMenu li.red:hover{background:#f56a3f;}
header .headerMenu li.yellow{box-shadow:inset 0px -2px 0px 0px #fff324;}
header .headerMenu li.yellow:hover{background:#fff324;}
header .headerMenu li.brown{box-shadow:inset 0px -2px 0px 0px #78c479;}
header .headerMenu li.brown:hover{background:#78c479;}
header .headerMenu li.blue{box-shadow:inset 0px -2px 0px 0px #68cef8;}
header .headerMenu li.blue:hover{background:#68cef8;}
header .headerMenu li a{color:rgb(91, 91, 91);font-size:14px;width:100%;height:100%;display:flex;letter-spacing:.5px;text-transform:uppercase;}
header .headerMenu li.green:hover a,header .headerMenu li.red:hover a,header .headerMenu li.yellow:hover a,header .headerMenu li.brown:hover a,header .headerMenu li.blue:hover a{color:white;}
.headerBtnModal button{padding-left:15px;height:30px;padding-right:15px;line-height:10px;min-height:30px;box-shadow:none;text-transform:inherit;margin:0;box-shadow:none;color:rgb(91, 91, 91);font-size:14px;font-weight:normal;letter-spacing:0.5px;}
.headerBtnModal button.md-button:not([disabled]).md-focused{background-color:white;}
.headerBtnModal button.btnEvent{border:1px solid #e3605b;color:#e3605b;}
header .headerBtnModal button.btnAuth:hover{color:rgb(51, 51, 51);}
header .headerBtnModal button.btnEvent.md-button:hover,.headerBtnModal button.btnAuth.md-button:hover{background:white;box-shadow:0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);-webkit-transition:box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);transition:box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);}
header .headerBtnModal button.btnEvent.md-button.md-focused{background-color:white;}
header .search{padding-right:15px;position:relative;}
header .search button{margin:0;min-width:40px;border-radius:0;padding:0;height:100%;text-transform:inherit;}
header .search .md-button .md-ripple-container{border-radius:0;}
header .search button md-icon{height:100%;}
header .search button.headSearch{width:40px;height:40px;min-height:40px;}
header .search button.headSearch md-icon{transition:all 0.2s ease;-webkit-transition:all 0.2s ease}
header .search button.headSearch:hover{background-color:rgb(227, 96, 91)}
header .search button.headSearch:hover md-icon{color:white;}
header .search .headCart{width:125px;padding-right:15px;margin:0;text-transform:inherit;border-radius:0;transition:all 0.2s ease;-webkit-transition:all 0.2s ease;color:#63796a;}
header .search .headCart md-icon{width:27px;transition:all 0.2s ease;-webkit-transition:all 0.2s ease;}
header .search .headCart span{margin-left:10px;}
header .search .headCart:hover{background-color:#68cef8;color:white;}
header .search .headCart:hover md-icon{color:white}
header .headerLg{padding-right:15px;}
header .headerLg a{line-height:30px;min-width:30px;min-height:30px;height:30px;width:30px;margin:0;margin-left:5px;margin-right:5px;border-radius:0;padding:0;font-size:13px;}
header .headerLg a:hover{color:black;background-color:white !important;box-shadow:0 2px 5px 0 rgba(0,0,0,.26);}
header .headerLg a.md-button .md-ripple-container{border-radius:0}
header .headerLg button{height:30px;width:30px;min-width:30px;height:30px;min-height:30px;margin:0;margin-left:4px;border-radius:0;padding:0;line-height:10px;background-color:rgb(227, 96, 91) !important;color:white !important;}
header .headerLg button.md-button .md-ripple-container{border-radius:0}
.page-on-scroll header .headerWrapper{position:fixed;margin-top:0;margin-bottom:0;top:0;background-color:rgba(255, 255, 255, 0.9);height:40px;box-shadow:0 2px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;background-repeat:no-repeat;background-position:center;background-attachment:fixed;z-index:10;}
.page-on-scroll header .headerWrapper .stickyHide{display:none;}
.page-on-scroll header .headerWrapper .brand{background-image:url('../images/logo/logo-small.png');height:40px;background-size:auto 17px;background-position:33px center;}
.page-on-scroll header .headerMenu li a{font-size:12px;}
.page-on-scroll header .headerMenu{padding-left:130px;padding-right:15px;}
.top-sm-logo{height:40px;width:150px;-webkit-background-size:80% 80%;-moz-background-size:80%;-o-background-size:80%;background-size:80%;background-repeat:no-repeat;background-position:center center;background-image:url(../images/logo/logo-small.png);}
.div-75{position:relative;}
.headSearchCont{z-index:10;display:none;position:absolute;width:100%;height:100%;background-color:transparent;}
.headSearchCont.open{display:block}
.headSearchCont form{height:100%;}
.headSearchCont.open form{}
.headSearchCont form md-input-container{margin-top:0;margin-bottom:0;padding:0;}
.headSearchCont form md-input-container .md-input{height:41px;}
.headSearchCont form .md-button{border-radius:0;margin:0;background-color:#e3605b;width:40px;height:40px;min-width:40px;}
.page-on-scroll .headSearchCont form .md-button{box-shadow:none;}
.headSearchCont form .md-button.md-raised:not([disabled]):hover{background-color:#b5605b}
.headSearchCont form .md-button.md-raised:not([disabled]) md-icon{color:white;}
.headSearchCont form .md-button .md-ripple-container{border-radius:0;}
.search .headSearch md-icon:nth-child(2){transition:all 0.2s ease;}
.search .headSearch md-icon:nth-child(2){display:none}
.search.open .headSearch md-icon:nth-child(2){display:block}
.search.open .headSearch md-icon:nth-child(1){display:none}
.brandWrapper{z-index:10;}
.modalContainer .modalClose{position:absolute;top:10px;right:10px;margin:0;}
body.remove-bg.products-page header .headerWrapper{background-image:none !important;}
header .headerWrapper{background-image:none;margin-top:15px;margin-bottom:15px;}
.headerWrapper{position:relative;}
.products-page.page-on-scroll .headerWrapper:before,.page-on-scroll .headerWrapper:before{content:'';position:absolute;width:100%;height:100%;background:rgba(255, 9, 9, 0.42);left:0;background:url(../images/bg-filter/filter3.png);opacity:0.74;left:0;}
.headerWrapper:before{opacity:0.4}
.headSearch.md-button:not([disabled]).md-focused{background-color:transparent;}
@media(min-width:1200px){header .headerWrapper .div-offset-5{margin-left:5%;}
header .headerWrapper .div-75{-webkit-box-flex:1;-webkit-flex:1 1 75%;flex:1 1 75%;box-sizing:border-box;max-width:75%;}
header .headerWrapper .div-25{-webkit-box-flex:1;-webkit-flex:1 1 25%;flex:1 1 25%;box-sizing:border-box;max-width:25%;}
header .headerWrapper .div-20{-webkit-box-flex:1;-webkit-flex:1 1 20%;flex:1 1 20%;box-sizing:border-box;max-width:20%;}
header .headerWrapper .lg-div-33{-webkit-box-flex:1;-webkit-flex:1 1 27%;flex:1 1 27%;box-sizing:border-box;max-width:27%;}
header .headerWrapper .lg-div-66{-webkit-box-flex:1;-webkit-flex:1 1 72%;flex:1 1 72%;box-sizing:border-box;max-width:72%;}
header .headerLg{padding-right:6px;}
header.open .headerMenu{display:none;}
}
@media(min-width:992px) and (max-width:1199px){header .headerWrapper .div-offset-5{margin-left:0%;}
header .headerWrapper .div-75{-webkit-box-flex:1;-webkit-flex:1 1 80%;flex:1 1 80%;box-sizing:border-box;max-width:80%;}
header .headerWrapper .div-25{-webkit-box-flex:1;-webkit-flex:1 1 23%;flex:1 1 23%;box-sizing:border-box;max-width:23%;}
header .headerWrapper .div-20{-webkit-box-flex:1;-webkit-flex:1 1 20%;flex:1 1 20%;box-sizing:border-box;max-width:20%;}
.page-on-scroll header .headerMenu{padding-left:50px;}
header .headerWrapper .md-div-33{-webkit-box-flex:1;-webkit-flex:1 1 27%;flex:1 1 27%;box-sizing:border-box;max-width:27%;}
header .headerWrapper .md-div-66{-webkit-box-flex:1;-webkit-flex:1 1 69%;flex:1 1 70%;box-sizing:border-box;max-width:70%;}
header .headerLg{margin-right:1px;}
header.open .headerMenu{display:none;}
}
@media(min-width:768px) and (max-width:991px){header .headerWrapper .div-offset-5{margin-left:0%;}
header .headerWrapper .div-75{-webkit-box-flex:1;-webkit-flex:1 1 100%;flex:1 1 100%;box-sizing:border-box;max-width:100%;}
header .headerWrapper .div-25{-webkit-box-flex:1;-webkit-flex:1 1 23%;flex:1 1 23%;box-sizing:border-box;max-width:23%;}
header .headerWrapper .div-20{-webkit-box-flex:1;-webkit-flex:1 1 20%;flex:1 1 20%;box-sizing:border-box;max-width:20%;}
header .headerMenu{padding-left:15px;}
header{height:115px;}
header .headerWrapper{margin-top:10px;margin-bottom:10px;}
header .menuWrapper{height:85px;}
.page-on-scroll header .headerMenu{padding-left:15px;}
header .headerMenu li a{font-size:13px}
header .headerWrapper .sm-div-33{-webkit-box-flex:1;-webkit-flex:1 1 26%;flex:1 1 26%;box-sizing:border-box;max-width:26%;}
header .headerWrapper .sm-div-66{-webkit-box-flex:1;-webkit-flex:1 1 69%;flex:1 1 70%;box-sizing:border-box;max-width:70%;}
.headSearchCont form md-input-container{margin:0;margin-left:15px;}
header.open .headerMenu{display:none;}
}
@media(max-width:767px){header .headerWrapper .div-offset-5{margin-left:0%;}
header .headerWrapper .div-75{-webkit-box-flex:1;-webkit-flex:1 1 100%;flex:1 1 100%;box-sizing:border-box;max-width:100%;}
header .headerWrapper .div-25{-webkit-box-flex:1;-webkit-flex:1 1 23%;flex:1 1 23%;box-sizing:border-box;max-width:23%;}
header .headerWrapper .xs-div-20{-webkit-box-flex:1;-webkit-flex:1 1 100%;flex:1 1 100%;box-sizing:border-box;max-width:100%;}
header .headerWrapper .xs-div-33{-webkit-box-flex:1;-webkit-flex:1 1 55%;flex:1 1 55%;box-sizing:border-box;max-width:55%;}
header .headerWrapper .xs-div-66{-webkit-box-flex:1;-webkit-flex:1 1 45%;flex:1 1 45%;box-sizing:border-box;max-width:45%;}
header{height:155px;}
header .headerLg,header .search{padding-right:0px;width:100%;}
.page-on-scroll header .headerWrapper{width:100%;padding-right:30px;padding-left:30px;margin-left:-15px;}
header .headerWrapper{margin-left:0;}
header .h40{position:relative;}
header .div-75{position:initial;}
.headSearchCont{background-color:rgba(255, 255, 255, 0);}
.headSearchCont form md-input-container{margin:0;}
.headSearchCont{top:40px;}
.headSearchCont form > div{margin:0;min-width:30%;text-align:right;}
.page-on-scroll header.open .headerWrapper{height:80px;}
.indexPage{margin-top:10px;}
.products-page header .headerWrapper{background-image:none !important;}
header .search button.headSearch:hover{background-color:transparent;}
header .search button.headSearch:hover md-icon{color:rgba(0,0,0,0.54);}
}
#getEvent md-dialog, #getAuth md-dialog,#putEvent md-dialog, #makeContact md-dialog, #getRegister md-dialog{max-width:100%;opacity:1;border-radius:0;max-width:600px;width:100%;max-height:100%;}
#getEvent md-dialog textarea, #putEvent md-dialog textarea,#makeContact md-dialog textarea{height:150px !important;}
.modal-backdrop{background-color:rgba(33,33,33,1.0);}
.modal-backdrop.in{opacity:.48}
@media(max-width:600px){#getEvent md-dialog, #getAuth md-dialog, #putEvent md-dialog,#makeContact md-dialog,#getRegister md-dialog{max-height:100%;height:100%;}
}
.modalContainer{padding:30px 12% 30px;display:block;box-sizing:content-box;}
.modalContainer > span{margin-top:10px;margin-bottom:35px;text-align:center;display:block;padding-left:50px;padding-right:50px;font-weight:700;font-size:13px;letter-spacing:0.5px;color:rgb(91,91,91);text-transform:uppercase;}
.b-input .form-group{width:45%;}
#getAuth button.btnRegister{background-color:white;margin:0;margin-bottom:15px;margin-top:15px;text-align:left;line-height:10px;color:rgb(91,91,91);letter-spacing:.5px;font-size:13px;padding:15px;}
#getAuth button.btnRegister:hover{box-shadow:0 2px 5px 0 rgba(0,0,0,.26);background:white;-webkit-transition:box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);transition:box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);}
#getAuth .authSocial{display:block;padding-top:20px;border-top:1px solid rgba(128, 128, 128, 0.71);}
#getAuth .authSocial md-toolbar{background-color:white;}
#getAuth .authSocial span{text-transform:uppercase;color:black;text-align:center;font-size:13px;letter-spacing:.5px;}
#getAuth .authSocial button{border-radius:0;color:white;text-transform:capitalize;margin:0;width:50px;height:50px;margin-bottom:10px;min-width:30px;}
#getAuth .authSocial button.md-button .md-ripple-container{border-radius:0;}
#getAuth .authSocial button.btnVk{background-color:#507299}
#getAuth .authSocial button.btnFb{background-color:#3b5998}
#getAuth .authSocial button.btnGoogle{background-color:#dd4b39}
#getAuth .authSocial button.btnOk{background-color:#ee8208}
#getAuth .registerWrapper,#getAuth #getAuthForm,#getAuth .authSocial{float:left;width:100%;}
#getAuthForm .form-group{margin-bottom:20px;}
#getAuthForm .form-group:nth-child(2n){margin-bottom:0;}
#getAuthForm .md-button.md-warn.md-raised.redButton{margin:0;}
.has-success .form-control{border-color:#e1e1e1}
.has-success .form-control:focus,.has-error .form-control:focus,.has-error .form-control,.has-success .form-control,.form-control:focus{box-shadow:none;}
.help-block{display:none !important;}
body.stop-scrolling{height:auto;}
.md-button.md-raised[disabled]{cursor:not-allowed;opacity:.7;}
.form-control{box-shadow:none;}
#getRegister .passwordGroup{margin-bottom:10px;}
#getRegister .form-group{margin-bottom:30px;}
#getRegister .passwordGroup .form-group{width:47%;margin-bottom:0;}
#getRegister .passwordGroup .form-group md-input-container{margin:0;padding:0;}
#getRegister .passwordGroup .form-group .help-block{display:inherit;}
@media(max-width:767px){.b-input .form-group{width:100%;}
.modalContainer > span{padding:0;}
.modalContainer{padding-bottom:0;}
.modal-dialog{margin:0;height:100%;}
.modalContainer form{padding-bottom:30px;}
#getAuth button.btnRegister{width:100%;margin-bottom:15px;text-align:center;line-height:10px;color:rgb(91,91,91);box-shadow:0 2px 5px 0 rgba(0,0,0,.26);}
#getAuthForm{padding-bottom:0;}
#getAuthForm .form-group,#getAuthForm .form-group:nth-child(2n){margin-bottom:10px;}
#getAuthForm md-input-container.md-block{margin:0;}
#getAuth .authSocial{padding-bottom:20px;}
}
@media (max-width:599px){#getAuth .btnContainer{margin-top:20px;}
#getAuth .registerWrapper{margin-bottom:20px;}
#getAuth .authSocial button{width:100%;}
#getRegister .passwordGroup .form-group{width:100%;margin-bottom:10px;}
#getRegister .passwordGroup .form-group md-input-container{margin:13px 0;}
#getRegister .passwordGroup{margin-top:-10px;}
}
#sidebar{position:fixed;width:320px;z-index:61;bottom:0;top:0;background-color:#e8e8e8;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);max-width:320px;-webkit-transition:all .4s cubic-bezier(.25,.8,.25,1);transition:all .4s cubic-bezier(.25,.8,.25,1);}
#sidebar .sideBtnCancel{position:absolute;left:10px;top:10px;}
#sidebar md-content{background-color:#e8e8e8;}
#sidebar md-content > section{display:block;width:100%;float:left;padding:25px;background-image:url(../images/separator.png);background-size:311px 1px;background-repeat:no-repeat;background-position:center bottom;box-sizing:border-box;display:block;}
#sidebar md-content > section:last-child{background-image:none;}
#sidebar.open{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
#sidebar .sideToggle{position:absolute;top:0;left:100%;bottom:0;height:100%;width:60px;border-left:3px solid rgba(219, 98, 94, 0.8);}
#sidebar .sideToggle md-content{background-color:transparent;}
#sidebar .sideToggle .sideUpBtn,#sidebar .sideToggle .sideCenterBtn{position:absolute;pointer-events:none;background-color:rgba(219, 98, 94, 0.8);background-repeat:no-repeat;background-position:center;}
#sidebar .sideToggle .sideUpBtn{top:0;width:100%;height:60px;border-bottom-right-radius:12px;background-image:url(../images/sidebar/sandwich.png);}
#sidebar .sideToggle .sideCenterBtn{width:50px;height:55px;border-bottom-right-radius:50%;-webkit-border-top-right-radius:50%;-moz-border-radius-topright:50%;border-top-right-radius:50%;top:50%;transform:translate3d(0,-50%,0);background-image:url(../images/sidebar/double-arrow-right.png);}
#sidebar.open .sideToggle{border-left:3px solid rgba(219, 98, 94, 1);}
#sidebar.open .sideToggle .sideUpBtn, #sidebar.open .sideToggle .sideCenterBtn{background-color:rgba(219, 98, 94, 1);}
#sidebar.open .sideToggle .sideCenterBtn{background-image:url(../images/sidebar/double-arrow-left.png);}
#sidebar .auth{padding-bottom:30px;padding-top:30px;}
#sidebar .auth button{border-radius:0;width:100%;font-size:17px;text-align:center;text-transform:initial;margin:0;padding-top:5px;padding-bottom:5px;}
#sidebar .auth button:hover{background-color:transparent;color:#E3605B;}
#sidebar .auth button:hover md-icon{color:#e98481;}
#sidebar .auth button md-icon{margin-right:10px;height:35px;width:32px;margin-left:-15px;}
#sidebar .mailer{background-color:white;color:rgb(91,91, 91);}
#sidebar .category > span{font-size:24px;text-align:center;margin-bottom:30px;color:rgb(91, 91, 91);font-weight:bold;display:block;}
#sidebar .category ul{padding:0;margin:0;float:left;width:100%;}
#sidebar .category ul li{list-style-type:none;float:left;margin-bottom:12px;width:86%;margin-left:7%;}
#sidebar .category ul li > div{text-align:center;width:25%;}
#sidebar .category ul li img{max-height:31px;max-width:26px;-webkit-filter:invert(100%);filter:invert(100%);}
#sidebar .category ul li a{color:rgb(91,91,91);text-transform:uppercase;line-height:18px;letter-spacing:.5px;font-size:13px;width:75%;}
#sidebar .category ul li a:hover{color:#E3605B;}
#sidebar .category > a{color:rgb(91, 91, 91);width:100%;margin:25px 0 20px;height:45px;float:left;line-height:42px;}
#sidebar .lastNews > span{font-size:24px;color:rgb(91, 91, 91);font-weight:bold;line-height:1.2;display:block;margin-bottom:25px}
#sidebar .lastNews ul, #sidebar .mainMenu ul, #sidebar .instMenu ul{padding:0;margin:0;}
#sidebar .lastNews ul li{float:left;list-style-type:none;margin-bottom:40px;}
#sidebar .lastNews ul li:last-child{margin-bottom:0px;}
#sidebar .lastNews ul li > a{margin-bottom:25px;color:rgb(91, 91, 91);font-size:19px;letter-spacing:1px;line-height:1.4;font-weight:500;}
#sidebar .lastNews ul li > a:hover{color:#E3605B;}
#sidebar .lastNews ul li > img{max-width:100%;max-height:300px;min-height:1px;}
#sidebar .lastNews ul li > span{margin-top:15px;font-size:11px;font-weight:normal;letter-spacing:0.5px;line-height:19px;color:#777;}
#sidebar .lastNews ul li div{margin-top:15px;display:block;text-align:right;}
#sidebar .lastNews ul li div a.readMore{color:rgb(91, 91, 91);text-align:right;font-weight:bold;font-size:18px;}
#sidebar .lastNews ul li div a.readMore:hover{color:#E3605B;}
#sidebar .mainMenu,#sidebar .instMenu{padding-right:40px;padding-left:40px;}
#sidebar .mainMenu > span, #sidebar .instMenu > span{font-size:24px;text-align:center;margin-bottom:20px;color:rgb(91, 91, 91);font-weight:bold;display:block;}
#sidebar .mainMenu ul li, #sidebar .instMenu ul li{float:left;list-style-type:none;}
#sidebar .mainMenu ul li a,#sidebar .instMenu ul li a{width:100%;margin:7px 0;padding-top:3px;padding-bottom:3px;color:rgb(91, 91, 91);}
#sidebar .mainMenu ul li.green:hover a{background-color:#f1c40f;color:white;}
#sidebar .mainMenu ul li.red:hover a{background-color:#f56a3f;color:white;}
#sidebar .mainMenu ul li.yellow:hover a{background-color:#fff324;color:white;}
#sidebar .mainMenu ul li.brown:hover a{background-color:#78c479;color:white;}
#sidebar .mainMenu ul li.blue:hover a{background-color:#68cef8;color:white;}
#sidebar .instMenu ul{}
#sidebar .instMenu > div{margin-bottom:30px;text-align:center;}
#sidebar .instMenu > div img{margin:0 auto;width:auto;max-width:50%;max-height:100px;}
@media(max-width:767px){#sidebar{max-width:100%;width:100%;}
}
.breadcrumbs{margin:0;float:left;padding-left:0;}
.breadcrumbs li,.breadcrumbs li a, .breadcrumbs>li+li:before{color:rgb(131, 131, 131);}
.breadcrumbs li{float:left;list-style-type:none;font-size:14px;line-height:2.2;text-transform:uppercase;letter-spacing:.5px;font-size:13px;}
.breadcrumbs li a:hover{color:rgb(91, 91, 91);}
.breadcrumbs>li+li:before{padding:0 13px;content:">";}
.layout-breadcrumbs{float:left;width:100%;margin-bottom:30px;margin-top:20px;}
.container-breadcrumbs{padding:10px 30px;border:0px solid rgb(148, 148, 148);float:left;width:100%;}